[submodule "Tarfful"]
	path = include/Tarfful
	url = https://github.com/rainslayer/Tarfful

[submodule "cereal"]
	path = include/cereal
	url = https://github.com/USCiLab/cereal
[submodule "include/cereal"]
	path = include/cereal
	url = https://github.com/USCiLab/cereal
